* {
  font-family: "Roboto", Arial, sans-serif;
}

a {
  text-decoration: none;
}

#messages {
  display: flex;
  flex-direction: column;
  max-width: 450px;
  max-height: 500px;
}

#message {
  display: inline-block;
  width: 340px;
}

#send {
  margin-left: 5px;
}

.btn {
  display: inline-block;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  color: #000;
  background-color: #fff;
  border: 0.15rem solid #000;
  transition: 0.35s;
}

.btn-lg {
  padding: 0.5rem 1rem;
  border: 0.2rem solid #000;
  font-size: 1.25rem;
}

.form-btn {
  padding: 0.56rem 0.8rem;
  font-size: 1rem;
}

.btn-hover:hover {
  color: #fff;
  background-color: #000;
}

.input {
  display: block;
  border: 0.2rem solid #000;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  outline: none;
}

.form-input {
  margin-bottom: 10px;
}

.main {
  margin-left: auto;
  margin-right: auto;
  width: 450px;
  height: 500px;
  padding-right: 5px;
}

.message-block {
  border: 0.2rem solid #000;
  margin-bottom: 10px;
  padding: 10px;
  overflow: auto;
  height: inherit;
  overflow-x: hidden;
  overflow-y: scroll;
}
.message-block::-webkit-scrollbar {
  width: 0px;
}

.message-post {
  word-break: break-all;
  border: 0.2rem solid #000;
  display: inline;
  max-width: 350px;
  width: fit-content;
  float: right;
  margin-bottom: 10px;
}

.message-get {
  display: inline;
  word-break: break-all;
  border: 0.2rem solid #000;
  max-width: 350px;
  width: fit-content;
  margin-bottom: 10px;
}

.message {
  border: 0.2rem solid #000;
  max-width: 340px;
  word-break: break-all;
  margin-bottom: 5px;
}

body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}

.from-me {
  align-self: flex-end;
}

.from-them {
  align-self: flex-start;
}
